.table{
  width:100%;
  height: fit-content;
  overflow-y: auto; /* Enable vertical scrolling */
}

.table tr{
height: 35px;
}
// .filter-card {
//   margin-bottom: 20px; /* Adjust margin as needed */
//   background-color: #ffffff;
//   border-radius: 10px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
// }

// .filter-title {
//   // padding: 20px;
//   font-size: 24px;
//   font-weight: 600;
//   color: #333333;
//   font-weight: bold;
// }

// table {
//   width: 100%;
//   border-collapse: collapse;

//   th,
//   td {
//     padding: 12px 8px;
//     text-align: left;
//   }


//   tbody {
//     // max-height: 360px; /* Maximum height for tbody, adjust as needed */
//     overflow-y: auto; /* Enable vertical scrolling */
//     // display: block;

//     tr {
//       transition: background-color 0.3s ease;

//       &:hover {
//         background-color: #f5f5f5; /* Change background color on hover */
//       }
//     }
//   }
// }
