// Footer.scss

.footer {
  background: linear-gradient(to right, #7f00ff, #e100ff); /* Gradient background */
  color: #fff; /* Text color */
  padding: 50px 20px; /* Adjusted padding */
  text-align: left;
  left: 0;
  width: 100%;

  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .top {
      display: flex;
      gap: 30px;
    }

    .item {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 16px;

      h1 {
        font-size: 20px; /* Adjusted font size */
        font-weight: 500;
        color: #fff; /* Title color */
      }
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    .left {
      display: flex;
      align-items: center;

      .logo {
        width: 50px;
        height: 50px;
        margin-right: 20px;
      }

      .copyright {
        font-size: 14px;
        color: #fff; /* Copyright color */
      }
    }
  }
}
