// Navbar.scss

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;

  .logout-button {
      background-color: transparent;
      border: none;
      color: #007bff;
      cursor: pointer;
      text-decoration: underline;
      font-size: 14px;
      transition: color 0.3s;

      &:hover {
          color: #0056b3;
      }
  }

  a {
      text-decoration: none;
      color: #007bff;
      font-size: 14px;
      margin-right: 20px;
      transition: color 0.3s;

      &:hover {
          color: #0056b3;
      }
  }
}
