// Album.scss

.album-wrapper {
  padding: 20px 0;

  .container-xxl {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
    
    

    .card {
      flex: 0 0 calc(50% - 20px); // Adjust card width for larger screens
      max-width: calc(70% - 20px); // Adjust card width for larger screens
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 20px;
      transition: transform 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: translateY(-5px);
      }

      .card-header {
        background-color: #007bff;
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      .card-body {
        padding: 20px;
        text-align: center;

        p {
          margin-bottom: 10px;
        }
      }
    }

    @media (max-width: 992px) {
      .card {
        flex: 0 0 calc(25% - 20px); // Adjust card width for medium screens
        max-width: calc(25% - 20px); // Adjust card width for medium screens
      }
    }

    @media (max-width: 768px) {
      .card {
        flex: 0 0 calc(50% - 20px); // Adjust card width for smaller screens
        max-width: calc(50% - 20px); // Adjust card width for smaller screens
      }
    }

    @media (max-width: 576px) {
      .card {
        flex: 0 0 calc(100% - 20px); // Adjust card width for extra small screens
        max-width: calc(100% - 20px); // Adjust card width for extra small screens
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;

    .page-item {
      margin: 0 5px;

      .page-link {
        padding: 8px 12px;
        border: 1px solid #007bff;
        border-radius: 5px;
        background-color: #fff;
        color: #007bff;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  }
}
