.hero--section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); /* Responsive grid layout */
  padding: 133.333px 85.333px 133.333px;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  background: linear-gradient(to right, #7f00ff, #e100ff);
  color: #fff;

  .hero--section--content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .hero--section--title {
    font-size: 74.667px;
    font-weight: 700;
    line-height: 90px;
    align-self: stretch;
  }

  .hero--section--description {
    font-size: 18px;
    line-height: 1.5;
  }

  .hero--section--img {
    display: flex;
    justify-content: center;
  }

  .hero--section--img img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .hero--section {
    padding: 60px 30px;
  }

  .hero--section--title {
    font-size: 30px;
    line-height: 1.2;
  }

  .hero--section--description {
    font-size: 16px;
    line-height: 1.5;
  }
}
