.hero--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 80px 50px; /* Adjusted padding */
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  background: linear-gradient(to right, #7f00ff, #e100ff); /* Gradient background */
  color: #fff; /* Changed text color to white */

  .hero--section--content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .hero--section--title {
    font-size: 40px; /* Decreased font size */
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Added text shadow for contrast */
  }

  .hero--section--description {
    font-size: 18px; /* Decreased font size */
    line-height: 1.5;
  }

  .hero--section--img {
    display: flex;
    justify-content: center; /* Center align the slider */
  }

  .hero--section--img img {
    max-width: 100%; /* Ensure slider image doesn't overflow */
  }
}

@media only screen and (max-width: 1200px) {
  .hero--section {
    padding: 60px 30px; /* Adjusted padding */
  }

  .hero--section--title {
    font-size: 30px; /* Decreased font size */
    line-height: 1.2;
  }

  .hero--section--description {
    font-size: 16px; /* Decreased font size */
    line-height: 1.5;
  }
}